:root {
    --primary-color: rgba(0,91,150, 1);
    --background-color: rgba(7, 21, 34, 1);
    --text-color: white;
    --espacamento-padrao: 20px;
    --raio-borda: 8px;
}
a:link {
    color: var(--primary-color);
}

a:visited {
    color: rgba(0, 174, 239, 1);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: rgba(0, 174, 239, 1);
}
.navbar { display: flex; justify-content: center; gap: 1.5rem; padding: 1rem; background: var(--primary-color); }
.navbar a { color: white; text-decoration: none; padding: .5rem 1rem; border-radius: var(--raio-borda); }
.navbar a:hover,
.navbar a:focus-visible { background: white; color: var(--primary-color); }